@import 'bootstrap/scss/bootstrap';

// Components
@import './constant';
@import './button';
@import './todo';


a{
  text-decoration: none;
}

.container{
  width: 1200px;
  margin: 0 auto;
}


.wrapper{
  width: 1200px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  align-items : stretch;
  justify-content:space-between;
  border-radius: $radius_wraper ;
}
.wrapperBtn{
  width: 1200px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  align-items : stretch;
  justify-content:space-between;
  border-radius: $radius_wraper ;
}

.clock{
  width: 200px;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
  background-color: white;
  border-style: solid;
  border-radius: $radius_wraper ;
}

.trello{
  color: white;
  text-align: left;
}

.main{
   width: 1200px;
   margin-top: 20px;
   padding: 15px;
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   align-self:center;
   border-radius: $radius_wraper ;
   background-color: rgb(136,114,157);

}

.card_list{
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content:start;
  background-color: white;
  padding: 5px 10px;
  color: black;
  border-radius: $radius_wraper ;
}



.card_title{
  width: 370px;
  display: flex;
  justify-content:space-between;
  padding: 0 10px 0 10px;
  font-size: 2rem;
  text-align: center;
  text-transform:uppercase;
  font-weight:bolder;
  border:2px solid;
  border-radius: $radius_wraper ;
}

.card_main{
  margin-top: 20px;
  display: block;
  overflow:auto;
}


.todo{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content:space-between;
  border-radius: $radius_wraper ;
  border:$border solid;
  background-color:$green;
}


.green{
  background-color: $green;
}

.gray{
  background-color: $gray;
}

.cyan{
  background-color: $cyan;
}

.card_list.btn{
  height: 60px;
  border-style: none;
}
.cardBtn.green{
  margin-top: 10px;
  width: 370px;
  transition-duration: 0.4s;
  color: black;
  text-align: center;
  font-size: 2rem;
  text-transform:uppercase;
  font-weight: bolder;
  background-color: $green;
  border-radius: $radius_wraper ;
  border: $border solid black;
}
.cardBtn.green:hover{
  color: $green;
  background-color: white;
  border: $border solid $green;
}
.cardBtn.cyan{
  width: 370px;
  margin-top: 10px;
  transition-duration: 0.4s;
  color: black;
  text-align: center;
  font-size: 2rem;
  text-transform:uppercase;
  font-weight: bolder;
  background-color: $cyan;
  border-radius: $radius_wraper ;
  border: $border solid black;
}
.cardBtn.cyan:hover{
  color: $cyan;
  background-color: white;
 border: $border solid $cyan;
}


.modal-footer{
  display: flex;
  justify-content:flex-end;
}



