@import 'bootstrap/scss/bootstrap';

// Components
@import './button';

$radius_wraper:1rem;
$green:rgb(217,238,231);
$gray:rgb(193,209,215);
$cyan:rgb(180,224,236);

.container{
  width: 1200px;
  margin: 0 auto;
}


.wrapper{
  width: 1200px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  align-items : stretch;
  border-style: solid;
  justify-content:space-between;
}
.clock{
  width: 200px;
  padding: 10px;
}
.main{
   width: 1200px;
   margin-top: 20px;
   padding: 15px;
   display: flex;
   flex-direction: row;
   justify-content:space-between;
   border-style: solid;
   border-radius: $radius_wraper ;
   background-color: rgb(136,114,157);

}

.card_list{
  display: flex;
  border-style: solid;
  flex-direction: column;
  justify-content:space-around;
  background-color: white;
  //padding: 5px 10px;
  color: black;
  border-radius: $radius_wraper ;
}
.card_title{


  font-size: 2rem;
  text-align: center;
  width: 370px;
  border-style: solid;
  border-radius: $radius_wraper ;
}

.trello{
  color: white;
  text-align: left;
}


.card_title{
  display: flex;
  justify-content:space-around;
  font-size: 2rem;
  text-transform:uppercase;
  font-weight:bolder;
  border-style: solid;
  border-radius: $radius_wraper ;
}
.cart_main{
  overflow:auto;
}

.todo{
  margin-top: 10px 10px;
  display: flex;
  flex-direction: column;
  border-radius: $radius_wraper ;
  align-self: stretch;
  justify-content:space-between;
  border-style: solid;
  background-color:$green;
}
.dodo_title{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 5px 3px;
}
.todo_desc{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 5px 3px;
}
.todo_footer{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 5px 3px;
}
.card_main{
  min-height: 800px;
}
.green{
  background-color: $green;
}

.gray{
  background-color: $gray;
}

.cyan{
  background-color: $cyan;
}