@import './constant';

.todo {

}

.todo_head {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.head_btn {
  // padding-right: 5px;
  display: flex;
  justify-content: space-between;
}

.none {
  display: none;
}

.todo_body {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

}

.todo_back {
  //width: 5px;
  padding: 0 2px 0 2px;
  position: relative;
  text-align: center;
  background-color: #f8f9fa;
 // border-right:2px solid ;
  border-radius: $radius_wraper 0 0 $radius_wraper;
}

.todo_next {
  //width: 2px;
  padding: 0 2px 0 2px;
  text-align: center;
  background-color: #f8f9fa;
  //border-left:2px solid  ;
  border-radius: 0 $radius_wraper $radius_wraper 0;
}

.todo_next:hover {
  background-color: #c6c7c8;
  //border-left:1px solid ;
}

.todo_back:hover {
  background-color: #c6c7c8;
  //border-right:1px solid ;
}

.body_text {
  max-height: 100px;
  overflow: auto;
  padding: 0 5px 0 5px;
  flex-basis: 90%;
}

.todo_footer {
  margin: 5px;

}

.btn.todobtn {

  border: 1px black;
  margin-left: 5px;
  height: 10px;
}


.btn + .btn.todobtn {
  margin-left: 5px;
  height: 10px;
}

.todo_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 3px;
}

.todo_desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 3px;
}

.todo_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 3px;
}